#recipe-filter{
    position: absolute;
    top: 150px;
    width: 600px;
    right: 155px;
    padding: 15px;
    background: #dadada;
    border-radius: 10px;
    z-index: 99;
    input{
        display: inline-block;
        width: 100px;
    }
    button{
        float: none !important;
    }
}